@import "../node_modules/@syncfusion/ej2-base/styles/material.css";
@import "../node_modules/@syncfusion/ej2-buttons/styles/material.css";
@import "../node_modules/@syncfusion/ej2-lists/styles/material.css";
@import "../node_modules/@syncfusion/ej2-inputs/styles/material.css";
@import "../node_modules/@syncfusion/ej2-popups/styles/material.css";
@import "../node_modules/@syncfusion/ej2-react-calendars/styles/material.css";
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

h1, h2, h3 {
  color: #5C527F;
}

body {
  font-family: 'Roboto', sans-serif;
}

main {
  min-height: 80vh;
}

h3 {
  padding: 1rem 0;
}

.rating span {
  margin: 0.1rem;
}

header i{
  margin-right: 0.5rem;
}

footer i{
  margin: 0.5rem;
  color: white;
}

footer{
  background-color: #57837B;
  padding: 1rem 0;
  color: white;
}
